form textarea {
    resize: none;
    height: 105px;
}

form input[type="radio"] {
    margin: 15px 6px 0px 0px;
}

form input[type="radio"]:not(:first-child) {
    margin-left: 15px;
}

.status > label{
    margin: 0px 6px 0px 0px;
    font-size: 0.9em;
}

.status {
    margin-bottom: 1em;
}